/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  font-size: 1.25rem;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[contenteditable="true"][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: #aaa;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  direction: ltr;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
section,
header {
  max-width: 900px;
  width: 90vw;
  margin: 0 auto;
}
.input__area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__area {
  border: 2px solid black;
  border-radius: 8px;
  position: relative;
  width: 100%;
  min-height: 3rem;
}
a.check__btn {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.5rem 2rem;
  display: inline-block;
  border-radius: 8px;
  margin-top: 1rem;
}
.mark {
  background-color: yellow;
}